@charset "UTF-8";
/* CSS Document */

/********* FONTS *********/

html {
	font-family: 'Cabin', sans-serif;
}


h1 {
	font-size: 1.5em;
	padding-top: 1%;
	color: white;
	display: inline;
	padding-bottom: 5%;
}

h2 {
	font-size: 2em;
	padding: 1em;	
}

h3 {
	font-size: 1.5em;
	padding: 1.5em;
}

h4 {
	font-size: 1em;
	padding: 0.5em;
}

/********* BODY *********/
body {
	width: auto;
	font-size: 0.75em;
}

/********* WRAPPER *********/

#wrapper {
	text-align: center;	
}

/********* NAVIGATION *********/
nav {
	position: fixed;
	background-color: rgb(50,50,50);
	width: 100%;
	height: 4%;
	padding-top: 2%;
	text-align: center;
	box-shadow: 0px 0px 5px 0px #000000;
	z-index: 1;
}

nav ul li {
	display: inline;	
	padding: 2em;
}

nav a:link {
	color: rgb(255, 255, 255);
	text-decoration: none;
}


nav a:visited {
	color: rgb(255, 255, 255);	
}


nav a:hover {
	color: rgb(183, 255, 234);	
}


/********* HOME **********/
#home {
	background-image: url(../images/screen1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	min-height: 500px;
	max-height: 800px;
	text-align: center;
	overflow: inherit;
	display: block;
}

#home img {
	height: auto;
	width: 60%;
	max-width: 500px;	
	padding-top: 15%;
	padding-bottom: 10%;
	position: relative;
}


/********** PORTFOLIO *********/
#portfolio {
	background-color: #EBEBEB;
	max-width: 100%;
	display: block;
	padding-top: 1%;
	overflow: auto;
	padding-bottom: 1%;
}
#portfolio ul {
	list-style-position: inside;
}


#portfolio li {
	display: inline-block;	
	text-align: center;
	list-style-position: inside;
}


/********** DIVIDER **********/
#divider {
	background-image: url(../images/water_divide.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position:*/ 
	height: 100px;
	max-width: 100%;
	display: block;
}

/********** ABOUT **********/
#about {
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
	clear: both;
}


#about_img {
	float: left;
	padding: 2.5%;
	max-width: 20%;
	display: inline;
}

#about_text {
	float: right;
	padding: 2.5%;
	max-width: 50%;
	display: inline;
}

.bio {
	padding: 2em;
	font-size: 1em;	
	text-align: left;
	line-height: 150%;
}

.bio a:link {
	color: rgb(125, 125, 125);
}

.bio a:visited {
	color: rgb(125, 125, 125);
}

.bio a:hover {
	color: rgb(195, 195, 195);
}

/********** DIVIDER 2 **********/
#divider2 {
	background-image: url(../images/water_divide.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position:*/ 
	height: 75px;
	max-width: 100%;
	display: block;
	clear: both;
}

/********* FOOTER *********/
#footer {
	background-color: rgb(50,50,50);
	max-width: 100%;
	height: 12%;
	text-align: center;
	clear: both;
	padding-top: 5%;
	display: block;
}

.icons {
	display: inline;
	max-width: 33%;	
	padding: 2.5%;
}


/** JS Overlay Lightbox **/

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
 margin-top: 10%; 
}

#overlay p {
 color: white; 
}




/********** MEDIA QUERIES *********/

/* MOBILE DEVICES */

@media screen and (max-width: 680px) {


	#about {
		max-width: 100%;
	}

	#about_text {
		display: block;
		float: none;
		max-width: 98%;
		padding: 0 1% 0 1%;
	}

	#about_img {
		display: block;
		float: none;
		max-width: 80%;
		padding: 10% 10% 2% 10%;
	}

}

@media screen and (max-width: 480px) { 

	#home img {
		padding-top: 35%;
	}

	nav {
		height: 15%;
		padding-top: 4%;
	}

	nav ul li {
	display: block;
	font-size: 95%;
	padding-left: 5px;
	padding-right: 5px
	padding-bottom: 0;
	padding-top: 0;
	line-height: 0.01rem;

	}

	#portfolio {
		padding-top: 4%;
	}
}


@media screen and (min-width: 960px) { 

#home img {

	width: 60%;
	max-width: 500px;	
	padding-top: 10%;
	padding-bottom: 10%;
	position: relative;
}
}


